# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
travis_cmake_gcc_cpp14
travis_cmake_gcc_cpp14_boost_test
travis_cmake_gcc_cpp14_boost_test_test
